@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@plugin 'phosphor-icons-tailwindcss';

@theme {
    --font-main: 'JetBrains Mono', monospace;

    --color-dark-background: #09090b;
    --color-dark-background-secondary: #18181b;
    --color-dark-background-tertiary: #242427;
    --color-dark-background-quaternary: #302f31;
    --color-light-background: #f4f4f5;
    --color-light-background-secondary: #ffffff;
    --color-light-background-tertiary: #b5b5b6;
    --color-light-background-quaternary: #d4d4d8;
}