@page "/"
@using Web.Services

<PageTitle>WorkSpace</PageTitle>

<div class="flex flex-col p-6">
    <h1 class="text-xl mb-12">Dashboard</h1>
    <div class="flex items-center w-full gap-4 mb-6">
        <div
            class="flex-1 border-b border-light-background-quaternary dark:border-dark-background-quaternary flex items-center h-10">
            <p class="mb-6 text-sm">Overview</p>
        </div>
        <div
            class="flex-1 border-b border-light-background-quaternary dark:border-dark-background-quaternary flex justify-end items-center h-10">
            <button
                class="flex items-center gap-8 p-2 mb-8 text-sm rounded-md bg-light-background-tertiary dark:bg-dark-background-tertiary border border-light-background-quaternary dark:border-dark-background-quaternary hover:bg-light-background-quaternary dark:hover:bg-dark-background-quaternary transition-colors hover:cursor-pointer">
                <p>Last Week</p>
                <i class="ph ph-[caret-up-down]"></i>
            </button>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Total Revenue Card -->
        <div class="py-6 border-b border-light-background-quaternary dark:border-dark-background-quaternary">
            <h2 class="text-xs mb-4">Total revenue</h2>
            <p class="text-2xl font-semibold mb-4">$2.6M</p>
            <div class="flex items-center gap-2 mb-4">
                <div class="p-1 rounded-md bg-lime-900">
                    <p class="text-xs px-1 opacity-100 text-lime-300">+4.5%</p>
                </div>
                <p class="opacity-50 text-xs"> from last week</p>
            </div>
        </div>

        <!-- Total Orders Card -->
        <div class="py-6 border-b border-light-background-quaternary dark:border-dark-background-quaternary">
            <h2 class="text-xs mb-4">Total orders</h2>
            <p class="text-2xl font-semibold mb-4">100.000</p>
            <div class="flex items-center gap-2 mb-4">
                <div class="p-1 rounded-md bg-lime-900">
                    <p class="text-xs opacity-100 text-lime-300">+10%</p>
                </div>
                <p class="opacity-50 text-xs"> from last week</p>
            </div>
        </div>

        <!-- Total Orders Card -->
        <div class="py-6 border-b border-light-background-quaternary dark:border-dark-background-quaternary">
            <h2 class="text-xs mb-4">Products sold</h2>
            <p class="text-2xl font-semibold mb-4">46.241</p>
            <div class="flex items-center gap-2 mb-4">
                <div class="p-1 rounded-md bg-lime-900">
                    <p class="text-xs px-1 opacity-100 text-lime-300">+2.1%</p>
                </div>
                <p class="opacity-50 text-xs"> from last week</p>
            </div>
        </div>

        <!-- Total Orders Card -->
        <div class="py-6 border-b border-light-background-quaternary dark:border-dark-background-quaternary">
            <h2 class="text-xs mb-4">Total customers</h2>
            <p class="text-2xl font-semibold mb-4">10.456</p>
            <div class="flex items-center gap-2 mb-4">
                <div class="p-1 rounded-md bg-lime-900">
                    <p class="text-xs px-1 opacity-100 text-lime-300">+1.2%</p>
                </div>
                <p class="opacity-50 text-xs"> from last week</p>
            </div>
        </div>
    </div>
</div>