@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="flex w-full h-full">
            <div class="flex flex-col h-screen w-80">
                <Sidebar/>
            </div>
            <div class="flex flex-col h-screen w-full pt-2 pr-2 pb-2">
                <div
                    class="dark:bg-dark-background-secondary bg-light-background-secondary border border-light-background-tertiary dark:border-dark-background-tertiary h-full rounded-lg p-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        await base.OnInitializedAsync();
    }
}
