@using Web.Components.Sidebar
@inject NavigationManager Navigation
@implements IDisposable

<div class="flex h-full flex-col">
    <div
        class="h-18 flex items-center justify-left border-b border-light-background-tertiary dark:border-dark-background-tertiary">
        <div class="w-full mx-4">
            <button @onclick="@(() => NavigateToPage("/"))"
                class="flex w-full items-center justify-between gap-1 rounded-lg hover:bg-light-background-tertiary dark:hover:bg-dark-background-tertiary hover:cursor-pointer">
                <div class="flex items-center py-1 px-2 gap-2">
                    <i class="ph ph-[planet] text-2xl"></i>
                    <p class="text-sm">WorkSpace</p>
                </div>
            </button>
        </div>
    </div>
    <div>
        <SidebarSearch />
    </div>
    <div class="flex flex-col h-full justify-between">
        <div class="flex flex-col gap-2 mt-4">
            <MenuItem Name="Customers" Icon="ph-[users]" />
            <MenuItem Name="Products" Icon="ph-[package]" />
            <MenuItem Name="Orders" Icon="ph-[scroll]" />
            <div class="flex flex-col gap-2 mt-4">
                <MenuItem Name="Authentication" Icon="ph-[key]" />
                <MenuItem Name="Settings" Icon="ph-[sliders]" />
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <MenuItem Name="Help" Icon="ph-[question]" />
            <MenuItem Name="Changelog" Icon="ph-[sparkle]" />
            <button
                class="flex mx-4 mb-4 items-center justify-between gap-1 rounded-lg hover:bg-light-background-tertiary dark:hover:bg-dark-background-tertiary hover:cursor-pointer">
                <div class="flex items-center py-1 px-2 gap-2">
                    <i class="ph ph-[user] text-2xl"></i>
                    <div class="flex flex-col items-start">
                        <p class="text-sm font-medium">Erica</p>
                        <p class="text-xs text-light-text-secondary dark:text-dark-text-secondary">erica@example.com</p>
                    </div>
                </div>
                <div class="pr-2">
                    <i class="ph ph-[caret-up] text-sm"></i>
                </div>
            </button>
        </div>
    </div>
</div>

@code {
    private string? CurrentUri { get; set; }

    protected override void OnInitialized()
    {
        CurrentUri = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        CurrentUri = e.Location;
        StateHasChanged();
    }

    private void NavigateToPage(string path)
    {
        CurrentUri = path;
        Navigation.NavigateTo(path);
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
